<?php
/**
 ** 色々な設定ファイル。
 ** FIXME: アカウントをキーにした配列にならない？
 **/

// *----- アカウント一覧 -----* //
$twitterAccount = array(
    "dummy1",
    "dummy2",
);

// *----- アプリケーションキー -----* //
$consumer_key = "";
$consumer_secret = "";

// *----- トークン -----* //
$auth_token = array(
    "dummy1" => "",
    "dummy2" => "",
);
$token_secret = array(
    "dummy1" => "",
    "dummy2" => "",
);

// *----- 画面の色 -----* //
$colorConfig = array(
    "dummy1" => "#0F0",
    "dummy2" => "#FF0",
);

// *----- 顔文字 -----* //
$facesConfig = array(
    "( 'ω')",
    "ฅ(๑'Δ'๑)",
    "_(:3ゝ∠)_",
    ":;(∩´﹏`∩);:",
    "｡ﾟ(ﾟ´ω｀ﾟ)ﾟ｡ﾋﾟｰ",
    "⁝(ृʾ́꒳ʿ̀ ृ　)ु⁝",
    "( ꒪⌓꒪)",
    "(๑´ڡ`๑)",
    "(っ＞ω＜c)☆.°",
    "(灬╹ω╹灬)",
    "Σ（ค•ㅅ•）ค",
);

